{% load i18n %}
<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="{% if page_obj.previous_page_number.pageurl %}{{ page_obj.previous_page_number.pageurl }}{% else %}?{{ page_obj.previous_page_number.querystring }}{% endif %}" class="prev">&lsaquo;&lsaquo; {% trans "previous" %}</a>
    {% else %}
        <span class="disabled prev">&lsaquo;&lsaquo; {% trans "previous" %}</span>
    {% endif %}
    {% for page in page_obj.pages %}
        {% if page %}
            {% ifequal page page_obj.number %}
                <span class="current page">{{ page }}</span>
            {% else %}
                <a href="{% if page.pageurl %}{{ page.pageurl }}{% else %}?{{ page.querystring }}{% endif %}" class="page">{{ page }}</a>
            {% endifequal %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <a href="{% if page_obj.next_page_number.pageurl %}{{ page_obj.next_page_number.pageurl }}{% else %}?{{ page_obj.next_page_number.querystring }}{% endif %}" class="next">{% trans "next" %} &rsaquo;&rsaquo;</a>
    {% else %}
        <span class="disabled next">{% trans "next" %} &rsaquo;&rsaquo;</span>
    {% endif %}
</div>
